.button{
    width: 20%;
    min-width: 200px;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
}

#preview { 
    max-height: 40%;
}

nav{
    height: 100%;
    padding-top: 0.1%;
    overflow: hidden;
    background-color: dimgray;
    box-sizing: border-box;
}

ul{
    display: flex;
}


li{
    float: left;
    list-style: none;
    text-align: center;
    width: 25%;
}
li a{
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}
li+ li{
    border-left: 1px solid black;
}
li:last-child {
    margin-right: 40px;
}

.nav{
    display: block;
    text-decoration: none;
    color: white;
}
.nav:hover{
    color: rgb(214, 237, 248);
}

