{% extends 'base.html' %}

{% block main %}
    <h2>HOME</h2>
    {% if not img_result %}
        {% if error_flag %}
            <p style="color: red;"><font size="5">画像ファイルを入力してください</font></p>
            <p style="color: red;">制限サイズ：5MB</p>
            <p style="color: red;">使用可能拡張子：.jpg, .jpeg, .png, .bmp, .tif, .tiff, .dng, .webp, .mpo</p>
        {% else %}
            <p><font size="5">画像ファイルを入力してください🐦</font></p>
            <p>制限サイズ：5MB</p>
            <p>使用可能拡張子：.jpg, .jpeg, .png, .bmp, .tif, .tiff, .dng, .webp, .mpo</p>
        {% endif %}
        <form action="/index" enctype="multipart/form-data" method="POST">
            <input type="file" name="result" accept="image/*" onchange="previewImage(this);">
            <img id="preview" width="100%" height="30%">

            <br>
            <button class="button" type="submit" button-size="large" onclick="onClick()">ハトを探す🐦</button>
        </form>
    {% endif %}

    {% if img_result %}
        <div>
            <img src="/static/media/result{{ suffix }}" width="100%" height="30%">
            <p>すべてのハトはどこかにいなければならない</p>
        </div>

        <a href="https://px.a8.net/svt/ejp?a8mat=3NH47G+DZ3AYA+50+2HZ0XT" rel="nofollow">
        <img border="0" width="200" height="200" alt="" src="https://www25.a8.net/svt/bgt?aid=220828300845&wid=001&eno=01&mid=s00000000018015112000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3NH47G+DZ3AYA+50+2HZ0XT" alt="">

        <br>
        <p style="background: rgba(255, 255, 255, 0.4);">以下の各種ボタンから結果を共有してくれると嬉しいです(共有する際、上の画像を手動で保存・貼り付けしてください...)<br>(何でそんな仕様になっているのかについては<a href="./tech#ogp">こちら</a>)</p>

        
        <!-- <div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="https://pigeon-detection.azurewebsites.net" data-color="default" data-size="large" data-count="true" data-ver="3" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

        <br>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-text="青山祭2022でハト検知AIWebアプリを試しています🐦" data-hashtags="青山祭2022" data-size="large" data-url="https://pigeon-detection.azurewebsites.net" data-count="true">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <br>
        <a href="https://px.a8.net/svt/ejp?a8mat=3NH47G+DZ3AYA+50+2HCIR5" rel="nofollow">
        <img border="0" width="130" height="18" alt="" src="https://www24.a8.net/svt/bgt?aid=220828300845&wid=001&eno=01&mid=s00000000018015007000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3NH47G+DZ3AYA+50+2HCIR5" alt="">

        <br>
        <div id="fb-root"></div>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fpigeon-detection.azurewebsites.net&layout=button_count&size=large&width=117&height=28&appId" width="117" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->

        <br>
        <form action="./"><button class="button" button-size="large" onclick="onClick()">別の画像で試してみる🐦</button></form>

        <br>
        <table border="0" cellspacing="0" cellpadding="0"><tr><td align="center"><a href="http://www.rays-counter.com/"><img src="http://www.rays-counter.com/d511_f6_022/62dfbcdf19166/" alt="アクセスカウンター" border="0"></a></td></tr><tr><td align="center"><img src="http://www.rays-counter.com/images/counter_01.gif" border="0" alt=""><img src="http://www.rays-counter.com/images/counter_02.gif" border="0" alt=""><img src="http://www.rays-counter.com/images/counter_03.gif" border="0" alt=""><img src="http://www.rays-counter.com/images/counter_04.gif" border="0" alt=""><img src="http://www.rays-counter.com/images/counter_05.gif" border="0" alt=""></td></tr></table>

    {% endif %}
{% endblock %}