{% extends 'base.html' %}

{% block main %}
    {% if not img_result %}
        {% if error_flag %}
            <p style="color: red;">画像ファイルを入力してください</p>
        {% endif %}
        <form action="/index" enctype="multipart/form-data" method="POST">
            <input type="file" name="result" accept="image/*" onchange="previewImage(this);" style="width:400px;" size="50">
            <img id="preview" width="100%" height="30%">

            <br>
            <button class="button" type="submit" button-size="large">ハトを探す🐦</button>
        </form>
    {% endif %}

    {% if img_result %}
        <div>
            <img src="/static/media/result.jpg" width="100%" height="30%">
            <p>すべてのハトはどこかにいなければならない</p>
        </div>

        <br><br><br>
        <br>
        以下の各種ボタンから結果を共有してくれると嬉しいです(共有する際、上の画像を手動で保存・貼り付けしてください...)
        <p>(何でそんな仕様になっているのかについては<a href="./tech#ogp">こちら</a>)</p>
        <div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="https://pigeon-detection.herokuapp.com" data-color="default" data-size="large" data-count="true" data-ver="3" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        <br>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-text="青山祭2022でハト検知AIWebアプリを試しています🐦" data-hashtags="青山祭2022" data-size="large" data-url="https://pigeon-detection.herokuapp.com" data-count="true">Tweet</a>
        <br>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div id="fb-root"></div>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fpigeon-detection.herokuapp.com&layout=button_count&size=large&width=117&height=28&appId" width="117" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <br>
        <a href="./">別の画像で試してみる</a>
    {% endif %}
{% endblock %}