{% extends 'base.html' %}

{% block main %}
    <p>このページでは、このWebアプリについて紹介します。</p>
    <a href="https://docs.google.com/presentation/d/1eHRtwqy_5uEhMBdt4m8cNZMqyTdkHBzsMLXvIMhmMW4/edit#slide=id.p">原本はこちら(Google Slidesに遷移します)</a>

    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSlU42axluhCnCPtROsJhIrleW743LrdNLThS7A4YFX3JsW__DPfUllONTafK02VCyxmWVW-t4KQApS/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
{% endblock %}