{% extends 'base.html' %}

{% block main %}
    <p>このページではこのWebアプリを作るにあたって使用した人工知能を作る技術や、アプリ化に際して使用した技術についてやや詳しく紹介します。</p>
    <h3 id="ogp">共有ボタンの設定(OGP)について</h3>
    <p>このページに共有ボタンのBad UI具合に腹を立てて飛んできた方もいるでしょうから、まずは言い訳させてください。スマホアプリに何気なくある例のSNS共有ボタンでは、当たり前のようにプレイ中の録画やリザルト画面のスクリーンショットが共有できたりします。しかし、それはWebサイトにおいては当たり前ではないのです。
        Webサイトにおいては共有ボタンの設置とは別に「OGP」という特別な設定をする必要があります。これは共有するときにデフォルトで設定されているツイートの文章やタグ等を指定できるものです。これを予め設定しておくことで、対象の宣伝効果を高めることができるのです。
        「じゃあそれを適切に設定して、出力結果の画像をツイートに付与したらいいんじゃないの？」という声が今にも聞こえてきますが、そんなこと出来るならとっくにやってるに決まってんだろ。出来ねえんだよ。画像の設定がよ！！！！！
        実際に共有してくれた方や試しに共有ボタンを押した人なら分かると思いますが、例の画像カードは出てきてると思います。これはOGPのimage設定でWebアプリ内にある画像のURLを指定することで、そのアクセス先にある画像をカード内に表示できるというものです。…それが設定の限界です。はい、また「じゃあそれを出力結果の画像にすればいいだけだよね？」とか聞こえてきますが、はっきり言って「素人は黙っとれ」としか言えねぇわ。これは『既存のURLでアクセスできる画像を内容だけ更新すると、専用のサイトでリフレッシュしないと素早く表示を切り替えられない』という史上最悪の仕様によって起こる悲劇です。つまり、頻繁に入れ替わるはずの出力結果をカードに表示させることは不可能という訳です！笑
        なので、皆さんは私を憐んで、このアプリを出力結果付きで共有してくれるとありがたいです。</p>

    <h3>学習モデル(人工知能)について</h3>


    <h3>本アプリの作り方</h3>
    <p>1. 自前のデータを用意し、検出対象に印をつける作業(アノテーション)を行う。</p>
    <p>2. データの前処理が終わったら、それをYolov5にぶち込んで学習させる。</p>
    <p>3. Webアプリのフロントエンド(あなた方に見えているこの画面)をHTML/CSS/JavaScriptで大雑把に構築していく。</p>
    <p>4. 一旦herokuを使ってインターネット上に公開し、動作するか確かめる。</p>
    <p>5. Webアプリのバックエンド(Yolov5の予測処理等)をPythonで実装する。(←マジで一番キツかった。二度とやりたくない。)</p>
    <p>6. 細かいところをHTML/CSS/JavaScriptで装飾していく。</p>
    <p>7. 人類を救う🐦</p>
{% endblock %}