{% extends 'base.html' %}

{% block main %}
    <h2>TECH</h2>
    <p>このページでは本Webアプリにて使用されている人工知能を作る技術や、アプリ化に際して使用した技術について適当に紹介します。</p>
    <div class="accordion__container">
        <div class="accordion__tab">herokuの無料プラン終了について</div>
        <div class="accordion__content">
            <p>
                僕ね、このアプリ初公開のときに、herokuさま、あの、あれなんすよ、あのー、（本アプリの）ホストサーバーにしていたんですよ。
            </p>
            <p>
                マジでショックです！
            </p>
            <p>
                まぁでも代替サービスあるなら……OKです！（微笑み、力強く親指を立てる）
            </p>
            <p>
                (一応<a href="https://pigeon-detection.herokuapp.com">heroku版</a>もアクセスできます)
            </p>
            <img src="../static/media/goodbye_heroku.jpeg" alt="でもAzure App Serviseならokです">
        </div>
        <div class="accordion__tab">広告について</div>
        <div class="accordion__content">
            <p>
                A8.netというサイトで手軽に広告をWebアプリに貼り付け、収益化することができます。私は試しにＧＭＯインターネット株式会社様のお名前.comというサイトの広告を結果画面に貼り付けてみました。
            </p>
            <p>
                以下の広告をクリックすると一回あたり6円の広告収入が私に入ります。でも、口座振り込み手数料が約500円なので、儲かる気配はありませんね...
            </p>
            <a href="https://px.a8.net/svt/ejp?a8mat=3NH47G+DZ3AYA+50+2HH0SH" rel="nofollow">
            <img border="0" width="300" height="300" alt="" src="https://www22.a8.net/svt/bgt?aid=220828300845&wid=001&eno=01&mid=s00000000018015028000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3NH47G+DZ3AYA+50+2HH0SH" alt="">
        </div>
        <div class="accordion__tab">pigeonsページの出典について</div>
        <div class="accordion__content">
            <p>本アプリのpigeonsページにある種々のハトの説明は、主に以下の「となりのハト」という書籍から勉強したことを紹介しています。ハト好きにはたまらない一冊ですので、一度是非お読みください！</p>
            <p>>購入は<a href="https://www.amazon.co.jp/%E3%81%A8%E3%81%AA%E3%82%8A%E3%81%AE%E3%83%8F%E3%83%88-%E8%BA%AB%E8%BF%91%E3%81%AA%E7%94%9F%E3%81%8D%E3%82%82%E3%81%AE%E3%81%AE%E7%9F%A5%E3%82%89%E3%82%8C%E3%81%96%E3%82%8B%E4%B8%96%E7%95%8C-%E6%9F%B4%E7%94%B0-%E4%BD%B3%E7%A7%80/dp/4635063100">こちら</a></p>
            <img src="../static/media/tonarinohato.jpg" alt="となりのハト">
        </div>
        <div class="accordion__tab" id="ogp">SNS共有ボタンで画像が共有できない理由について</div>
        <div class="accordion__content">
            <p>
                このページに共有ボタンのBad UI具合に腹を立てて飛んできた方もいるでしょうから、まずは言い訳させてください。スマホアプリに何気なくある例のSNS共有ボタンでは、当たり前のようにプレイ中の録画やリザルト画面のスクリーンショットが共有できたりします。しかし、それはWebサイトにおいては当たり前ではないのです。
                Webサイトにおいては共有ボタンの設置とは別に「OGP」という特別な設定をする必要があります。これは共有するときにデフォルトで設定されているツイートの文章やタグ等を指定できるものです。これを予め設定しておくことで、対象の宣伝効果を高めることができるのです。
            </p>
            <p>
                「じゃあそれを適切に設定して、出力結果の画像をツイートに付与したらいいんじゃないの？」という声が今にも聞こえてきますが、そんなこと出来るならとっくにやってるに決まってんだろ。出来ねえんだよ。画像の設定がよ！！！！！
                実際に共有してくれた方や試しに共有ボタンを押した人なら分かると思いますが、例の画像カードは出てきてると思います。これはOGPのimage設定でWebアプリ内にある画像のURLを指定することで、そのアクセス先にある画像をカード内に表示できるというものです。…それが設定の限界です。
            </p>
            <p>
                はい、また「じゃあそれを出力結果の画像にすればいいだけだよね？」とか聞こえてきますが、はっきり言って「ｵﾊｰﾄ🐦」としか言えねぇわ。これは『既存のURLでアクセスできる画像を内容だけ更新すると、専用のサイトでリフレッシュしないと素早く表示を切り替えられない』という史上最悪の仕様によって起こる悲劇です。つまり、頻繁に入れ替わるはずの出力結果をカードに表示させることは不可能という訳です！笑
            </p>
            <p>
                なので、皆さんは私を憐んで、このアプリを出力結果付きで共有してくれるとありがたいです。
            </p>
        </div>
        <div class="accordion__tab">学習モデル(人工知能)について</div>
        <div class="accordion__content">
            <p>このWebアプリに搭載している人工知能は、「YOLOv5」と呼ばれる深層学習モデルの一つです。深層学習とは、人間の神経細胞の仕組みを再現した多層ニューラルネットワークを用いた機械学習の手法の1つです。現在この技術は様々な分野で応用されていますが、その最たる例が「画像認識」です。このWebアプリもその応用例の一つです。</p>
            <p>今回用いたYOLOv5というモデルはフリーで配布しており、権利の設定的にかなり自由に使えます(GNU General Public License v3.0)。また、自前のデータで学習させることが非常に簡単で、性能もまずまず良いです。画像を読み込んで検出対象が一定の確率で存在すると思われる箇所が特定された場合、画像に表示されます。ここでの「一定の確率」は自分が指定でき、今回は30%にしてあります。つまり、30%の確率でハトがいる場所があった場合、四角で囲んで教えてくれるという訳です。画像認識でAI使ってみたいなとか思っている人は、最初に触るのにうってつけだと思います。</p>
        </div>
        <div class="accordion__tab">学習データ集めについて</div>
        <div class="accordion__content">
            <p>
                上記の章で説明した通り、この人工知能は自前の画像データを既存モデルに食わせて作っています。そのデータをどこから取ってきたのかという話ですが、一つは自分が撮ってきたもの、もう一つはTwitterから取ってきたものです。
            </p>
            <p>
                後者について、Webページ等からデータを自動的に取ってくることを「スクレイピング」と言います。今回はTwitterからスクレイピングしてきたのですが、Twitterではスクレイピングを禁止しています。…別に私が違法を働いたということではなく、公式のAPIを使って合法で取ってきた画像を用いています。但し、公式APIだと直近7日間のツイートまでしか参照できず、シラコバトやカラスバトといったやや珍しいハトさんのデータはは少ししか取れませんでした。なので、結局手動でツイートを検索して取ってきたものも多くあります。
            </p>
            <p>
                また、スクレイピング自体は決して違法ではないのですが、グレーに近い行為だと言われています。Webサイトの利用規約やrobots.txtで明示的に禁止されている(あるいはそれに準ずる行為が禁止されている)場合、キッパリ諦めましょう。詳しくは<a href="https://legalmedia.coconala.com/3182">こちらのリンク</a>を参照してください。
            </p>
            <p>
                次に、ネットから取ってきた画像を勝手に学習に使っていいのかについてですが、こちらは全く問題ありません！日本では著作権法によって情報の複製が禁じられているのですが、「私的利用」もしくは「情報解析」目的であれば例外としてこれが認められます。今回はまさにこの2つを満たしているので、特に心配いらないという訳です。
            </p>
            <p>
                皆さんも適切にスクレイピングの技術を扱い、充実した機械学習ライフを送りましょう！
            </p>
        </div>
        <div class="accordion__tab">本アプリの作り方</div>
        <div class="accordion__content">
            <p>1. 自前のデータを用意し、検出対象に印をつける作業(アノテーション)を行う。</p>
            <p>2. データの前処理が終わったら、それをYolov5にブチ込んで学習させる。</p>
            <p>3. Webアプリのフロントエンド(あなた方に見えているこの画面)をHTML/CSS/JavaScriptで大雑把に構築していく。</p>
            <p>4. 一旦herokuを使ってインターネット上に公開し、動作するか確かめる。</p>
            <p>5. Webアプリのバックエンド(YOLOv5の予測処理等)をPythonで実装する。(←マジで一番キツかった。二度とやりたくない。)</p>
            <p>6. 細かいところをHTML/CSS/JavaScriptで装飾していく。</p>
            <p>7. herokuの無料プランが無くなってしまうので、泣く泣くAzure App Serviceに乗り換える。</p>
            <p>810. 人類を救う🐦</p>
        </div>
    </div>
{% endblock %}